/* Base
======================================================================================================================= */
html,
body {
    overflow-x: hidden;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

body {
    color: #173D53;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 575.98px) {
    body {
        font-size: 13px;
    }
}

/* Animations 
======================================================================================================================= */
@-webkit-keyframes slidein {
    from {
        top: -120px;
    }

    66% {
        top: -120px;
    }

    to {
        top: 0;
    }
}

@keyframes slidein {
    from {
        top: -120px;
    }

    66% {
        top: -120px;
    }

    to {
        top: 0;
    }
}

/* Build multiple towers (punta museo)
======================================================================================================================= */
/* Header 
============================================================================================================================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header.active {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    position: fixed;
    z-index: 1000;
}

.header.active .header-top {
    margin-top: -47px;
}

.header.active .submenu {
    top: 50px;
}

.header .header-top {
    background-color: #B1BFD1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .6rem 10%;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.header .text-contact {
    margin: 2px 0 0 0;
}

.header .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 10%;
    background-image: url("../img/bgheader.png");
    position: relative;
}

.header .logo {
    width: 141px;
}

.header .social-media,
.header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .social-media {
    margin: 0 0 0 160px;
    opacity: .8;
    font-size: 1.3em;
}

.header .social-media-item {
    margin: 0 0 0 25px;
}

.header .menu {
    margin: 7px 0 0 0;
    font-weight: 500;
}

.header .menu-item {
    margin: 0 0 0 30px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header .menu-item .active {
    font-weight: 700;
}

.header .menu-link {
    position: relative;
}

.header .menu-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #173D53;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.header .menu-link:hover::after {
    width: 40px;
}

@media screen and (max-width: 991.98px) {
    .header .header-top {
        padding: .6rem 5%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header .header-main {
        padding: 1rem 5%;
    }
}

/* Footer 
======================================================================================================================= */
.footer {
    background-image: -webkit-gradient(linear, left top, right top, from(#173D53), to(#778080));
    background-image: linear-gradient(to right, #173D53, #778080);
    padding: 1rem 0;
    position: absolute;
    color: #FFFFFF;
    width: 100%;
}

.footer .social-media {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.3em;
}

.footer .social-media-item {
    margin: 0 7px;
}

.footer .footer-text {
    margin: 0;
    font-size: .8em;
    line-height: 1.3;
    opacity: .6;
    font-style: italic;
}

.footer .footer-logo {
    position: absolute;
    bottom: 19px;
    right: 30px;
    width: 95px;
}

@media screen and (max-width: 575.98px) {
    .footer .footer-logo {
        display: none;
    }
}